
/* Fonte */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-principal: #5900ff;
    --cor-destaque: #7e39ff;
    --cor-01: #f9f9f9;
    --cor-02: #eaeaea;
    --cor-03: #b3b3b3;
    --cor-04: #232323;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

body {
    background-color: var(--cor-02);
    color: var(--cor-04);
}

nav {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    background-color: var(--cor-04);
    color: var(--cor-01);
    padding: 1.2rem 5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav span {
    color: var(--cor-destaque);
}

nav a {
    text-decoration: none;
    color: inherit;
}

nav ul {
    list-style-type: none;
    display: flex;
}

.menu a {
    font-weight: 700;
    letter-spacing: 0.1rem;
    padding: 1rem 2rem;
    transition: 0.3s;
}

.menu a:hover {
    color: var(--cor-destaque);
}

main {
    margin: 5rem auto;
}

article {
    background-color: var(--cor-01);
    height: 16rem;
    margin: 0 5rem 1rem;
    padding: 1rem;
    border-radius: 0.625rem;
    transition: 0.5s;
    overflow: hidden;

    display: grid;
    grid-template-columns: 16rem auto;
}

article p {
    margin-top: 1rem;
    text-align: justify;
}

article:hover {
    cursor: pointer;
    transform: scale(1.01);
    /*          X   Y   desfoque    espessura   cor */
    box-shadow: 0   0   0.5rem      0.1rem      var(--cor-03);
}

.foto {
    overflow: hidden;
    margin-right: 1rem;
}

.foto img {
    height: 100%;
}

.leia-mais {
    font-weight: 700;
    color: var(--cor-destaque);
    text-align: right;
    padding: 1rem;
}

.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



footer {
    background-color: var(--cor-04);
    opacity: 0.6;
    color: var(--cor-01);
    padding: 1rem 5rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
